// Colors
$container-background: #fff;
$chip-background: #c4e1ff;
$chip-border-color: #eee;
$invalid-chip-border-color: red;

// Height/width
$input-container-height: 200px;

// Font sizes
$close-icon-font-size: 20px;